# stuff to ignore for fzf. This file will only be used if there's a .git folder next to it.
# There's a separate script that injects the .git folder into the home directory.
Library
.cache
.cargo
.ern
.gradle
.local
.nvm
.npm
.node-gyp
.rvm
node_modules

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

.idea

# Random thing that causes a circlar loop
Movies
